@import './styles/typography.css';
@import './styles/ui.css';
@import './styles/buttons.css';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
}

body {
  margin: 0;
  background: #f0f0f0;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
